<style>
/* ======================
	CUSTOMISATIONS - {NAME}
	USE BY PAGE ID: {PAGE ID using this css style. Use comma to seperate multiple Page ID};
	BLOCK: {Block number where the css code is been place. Use comma to seperate multiple number};
==================  */
</style>

<style>
/* ======================
	CUSTOMISATIONS - Content Table
	USE BY PAGE ID: 8382;
	BLOCK: 17;
==================  */
.content-table-wrapper { max-width: 100%; }
.content-table-wrapper { margin-top: -30px; width: 100% !important; margin-bottom: 40px; }
.content-table-wrapper thead th { background: #5b5b5c; padding: 10px; color: #fff; font-weight: 400; text-align: left; border: 2px solid #fff; border-top: none; vertical-align: middle; }
.content-table-wrapper tbody th { background: #92979b; padding: 8px 10px; color: #fff; text-align: left; font-size: 0.8em; border: 2px solid #fff; vertical-align: middle; width: 10%;   }
.content-table-wrapper tbody td { background: #e6e7e8; padding: 10px; color: #333; vertical-align: middle; border: 2px solid #fff;  }
.content-table-wrapper tbody tr:nth-child(odd) td { background: #f1f1f2; }
.content-table-wrapper tbody td strong { font-weight: 700; }
.content-table-wrapper tbody td img { padding: 0 3px; }
</style>

<style>
/* ======================
	CUSTOMISATIONS - Nav links
	USE BY PAGE ID: 8428
	BLOCK: 8;
==================  */
.navigation ul li.join.green a{
    background: #2f9a41 !important;
}
.navigation ul li.join.green a:hover{
    background: #35ae49 !important;
}
</style>

<style>
/* ======================
	CUSTOMISATIONS - Grid Block
	USE BY PAGE ID: 8442
	BLOCK: 1;
==================  */
.grid-item-block{
	width: 100%;
    height: 251px;
    float: left;
    background: #fff;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.grid-item-block:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0, 0.5);
    -moz-transition: background .3s linear;
    -webkit-transition: background .3s linear;
    -o-transition: background .3s linear;
    transition: background .3s linear;
    z-index: 1;
}
.grid-item-block .grid-item-overlay {
    position: absolute;
    min-height: 60px;
    background: rgba(255,255,255,0.9);
    padding: 10px;
    bottom: -160px;
    font-size: 12px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 3;
}
.grid-item-block:hover .grid-item-overlay{
	bottom: 0;
}
.grid-item-block .grid-item-option{
	background-size:cover;
	background-position: center;
	text-align: left;
    width: 100%;
    height: 100%;
    padding: 10px;
    position: relative;
}
.grid-item-block .grid-item-option h3 {
    font-weight: 400;
    color: #fff;
    width: 70%;
    letter-spacing: 0.02em;
    font-size: 1.1em;
    line-height: 120%;
    position: absolute;
    bottom: 10px;
    text-shadow: 2px 2px 2px #333;
    z-index: 2;
}
</style>