<style>
/* ======================
	CUSTOMISATIONS - Content Table
	USE BY PAGE ID: 8382, 8431, 8513, 8469, 8462, 8505;
	BLOCK: 17, 3, 2, 3, 7, 6;
==================  */
.content-table-wrapper { max-width: 100%; }
.content-table-wrapper { margin-top: -30px; width: 100% !important; margin-bottom: 40px; }
.content-table-wrapper thead th { background: #5b5b5c; padding: 10px; color: #fff; font-weight: 400; text-align: left;  letter-spacing: 0.02em;  border: 2px solid #fff; border-top: none; vertical-align: middle; }
.content-table-wrapper tbody th { background: #92979b; padding: 8px 10px; color: #fff; text-align: left; font-size: 0.8em; border: 2px solid #fff; vertical-align: middle; width: 10%;   }
.content-table-wrapper tbody td { background: #e6e7e8; padding: 10px; color: #333; vertical-align: middle; border: 2px solid #fff;  }
.content-table-wrapper tbody tr:nth-child(odd) td { background: #f1f1f2; }
.content-table-wrapper tbody td strong { font-weight: 700; }
.content-table-wrapper tbody td img { padding: 0 3px; }
</style>

<style>
/* ======================
	CUSTOMISATIONS - Change a tag links color to green
	USE BY PAGE ID: 8387, 8408, 8498, 8502, 8513, 8522, 8532, 8581, 8583, 8585, 8592, 8594, 8596, 8598, 8601, 8603, 8605,
			8608, 8610, 8612, 8615, 8619, 8621;
	BLOCK: 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2;
==================  */
.row-block a, .row-people a { color: #2f9a41; }
.row-block a:not(.button):hover, .row-people a:not(.button):hover { border-color: #2f9a41; }
</style>

<style>
/* ======================
	CUSTOMISATIONS - Change gravityform submit button to green
	USE BY PAGE ID: 8462, 8502, 8522, 8612, 8617;
	BLOCK: 8, 2, 2, 2, 2;
==================  */
.container .gform_wrapper input[type="submit"].gform_button { background: #2f9a41; }
.container .gform_wrapper input[type="submit"].gform_button:hover { background: #35AE49; }
</style>

<style>
/* ======================
	CUSTOMISATIONS - Change Row People block header. to Green like H2
	USE BY PAGE ID: 8524;
	BLOCK: 6;
==================  */
.row-people .people-heading { color: #2f9a41; font-size: 3rem; font-weight: 700; line-height: 115% !important;}
</style>
